## Docker-compose - variable de entorno##

#URL_DATABASE = "postgresql://tu_usuario_de_postgresql:tu_contraseña_de_postgresql@localhost:5432/tu_nombre_de_la_base_de_datos_postgresql"
URL_DATABASE = "postgresql://User:password@postgres:5432/LUBIX"
# Configura el user, password, y database de postgres docker
POSTGRES_USER= "User"
POSTGRES_PASSWORD= "123456789aA"
POSTGRES_DB= "LUBIX"

# JWT configuracion
SECRET_KEY=super_clave_secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_DAYS=15

# Email configuracion
GMAIL_USERNAME = "lubixcompany@gmail.com"
GMAIL_APP_PASSWORD = "xvex cnzw yxkk tnsc"

# Frontend URL
URL_FRONTEND = "http://localhost:5173"

## NAS configuracion##
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password

# Account Admin for Seed
# Sirve para tener un usuario en la base de datos como administrador...
# Es la primera cuenta que se entrega para produccion...
ADMIN_DEFAULT = "example@gmail.com"
PASSWORD_DEFAULT = "123456789aA"

# Seed
# si es por primera vez
# true para activar seed
# false para desactivar seed
RUN_SEED=True


