.venv/
.venv/
venv/
env/
.env
*.env.local
.env.*.local
.env.local
__pycache__/te
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
.env
__pycache__/
soloparami.md
pruebaHtmlbasic/loginempresa.html
pruebaHtmlbasic/empresaregistro.html
.git